<template>
  <div class="container">
    <div class="row">
      <div class="mt-5 w-100">
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <h1 class="display-6">Clients</h1>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="row">
              <b-form-select
                class="col-lg-4 col-md-4"
                v-model="selectedSearchField"
                :options="searchOptions"
              ></b-form-select>
              <b-input
                class="col-lg-7 col-md-7 offset-md-1"
                id="search-input"
                v-model="searchTerm"
                type="text"
                placeholder="Search"
              ></b-input>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 mx-auto my-auto text-right">
            <b-button
              variant="success"
              @click="toggleFormModal"
              class="col-lg-6 col-md-6"
            >Add Client</b-button>
          </div>
        </div>
        <b-modal v-model="formModalOpened">
          <b-form>
            <div class="col-lg-12 col-md-12">
              <label for="name-input">Name</label>
              <b-input
                id="name-input"
                v-model="formData.name"
                type="text"
                required
                placeholder="Enter name"
                :state="validation.name"
              ></b-input>
              <b-form-invalid-feedback :state="validation.name">Name is required</b-form-invalid-feedback>
            </div>
            <div class="col-lg-12 col-md-12">
              <label for="email-input">Email</label>
              <b-input
                id="email-input"
                v-model="formData.email"
                type="email"
                required
                placeholder="Enter email"
                :state="validation.email"
              ></b-input>
              <b-form-invalid-feedback :state="validation.email">Invalid Email</b-form-invalid-feedback>
            </div>
            <div class="col-lg-12 col-md-12">
              <label for="phone-input">Phone</label>
              <b-input
                id="phone-input"
                v-model="formData.phone"
                type="text"
                required
                placeholder="Enter Phone"
                :state="validation.phone"
              ></b-input>
              <b-form-invalid-feedback :state="validation.phone">Invalid Phone</b-form-invalid-feedback>
            </div>
            <div class="col-lg-12 col-md-12">
              <div class="row">
                <label class="col-lg-6 col-md-6">Providers</label>
                <div class="col-lg-6 col-md-6">
                  <router-link to="/providers" class="d-block">
                    <b-button variant="success" class="col-lg-12 col-md-12">Add Provider</b-button>
                  </router-link>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 mb-4">
                <span
                  class="p-2 bg-secondary ml-1 rounded"
                  v-for="(selectedProvider) in selectedProviders"
                  :key="selectedProvider"
                >{{ selectedProvider }}</span>
              </div>
              <div class="col-lg-12 col-md-12 mb-4 p-2 rounded border border-secondary">
                <b-form-checkbox-group
                  style="max-height: 100px; overflow-y: scroll"
                  id="checkbox-group-2"
                  v-model="formData.providers"
                  name="flavour-2"
                >
                  <div
                    class="col-lg-12 col-md-12"
                    v-for="providerOption in providerOptions"
                    :key="providerOption.value"
                  >
                    <b-form-checkbox :value="providerOption.value">{{providerOption.text}}</b-form-checkbox>
                    <router-link :to="`/providers/${providerOption.value}`">
                      <b-icon role="button" icon="box-arrow-up-right" class="mr-2"></b-icon>
                    </router-link>
                    <b-icon
                      role="button"
                      icon="x-circle"
                      variant="danger"
                      @click="openProviderDeleteModal(providerOption.value)"
                      class="mr-2"
                    ></b-icon>
                  </div>
                </b-form-checkbox-group>
              </div>
            </div>
          </b-form>
          <template v-slot:modal-footer>
            <div class="w-100">
              <b-button variant="primary" size="sm" @click="submit" class="float-right">Submit</b-button>
            </div>
          </template>
        </b-modal>
        <b-modal title="Delete" id="delete-modal" v-model="deleteModalOpened">
          <p>Are you sure want to delete this client ?</p>
          <template v-slot:modal-footer>
            <div class="w-100">
              <b-button size="sm" @click="deleteRecord" class="mr-1">OK</b-button>
            </div>
          </template>
        </b-modal>
        <b-modal title="Delete" id="provider-delete-modal" v-model="providerDeleteModalOpened">
          <p>Are you sure want to delete this provider ?</p>
          <template v-slot:modal-footer>
            <div class="w-100">
              <b-button size="sm" @click="deleteProvider" class="mr-1">OK</b-button>
            </div>
          </template>
        </b-modal>
        <b-table striped hover head-variant="dark" :items="list" :fields="fields">
          <template v-slot:cell(providers)="row">
            <span>{{row.item.providers.map(provider => provider.name).join(',')}}</span>
          </template>
          <template v-slot:cell(actions)="row">
            <b-icon
              role="button"
              @click="openDeleteModal(row.item)"
              icon="x-circle"
              scale="1.5"
              variant="danger"
            ></b-icon>
            <b-icon
              role="button"
              class="ml-4 pointer"
              @click="onEditClick(row.item)"
              icon="pencil"
              scale="1.5"
              variant="primary"
            ></b-icon>
          </template>
        </b-table>
      </div>
    </div>
  </div>
</template>  

<script>
import Request from "../request";
import listMixin from "../mixins/list";
const request = new Request("client");
const providerRequest = new Request("provider");
const buildInitialData = () => ({
  _id: "",
  name: "",
  email: "",
  phone: "",
  providers: [],
});
const EMAIL_REGEX = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
const PHONE_NUMBER_REGEX = /^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s./0-9]*$/;
export default {
  name: "Provders",
  mixins: [listMixin],
  data() {
    return {
      request,
      list: [],
      formData: buildInitialData(),
      providerOptions: [],
      providerToDelete: "",
      providerDeleteModalOpened: false,
      fields: [
        { key: "name", label: "Name", sortable: true },
        { key: "_id", label: "ID" },
        { key: "email", label: "Email", sortable: true },
        { key: "phone", label: "Phone", sortable: true },
        { key: "providers", label: "Providers" },
        { key: "actions", label: "Actions" },
      ],
      searchOptions: [
        {
          text: "Name",
          value: "name",
        },
        {
          text: "Phone",
          value: "phone",
        },
        {
          text: "Email",
          value: "email",
        },
      ],
    };
  },
  computed: {
    validation() {
      const { email, phone, name } = this.formData;
      return {
        name: name.length > 0,
        email: email.length > 0 && EMAIL_REGEX.test(email),
        phone: phone.length > 0 && PHONE_NUMBER_REGEX.test(phone),
      };
    },
    selectedProviders() {
      return this.formData.providers.map((providerId) => {
        const selectedProvider = this.providerOptions.find(
          (providerOption) => providerOption.value === providerId
        );
        if (selectedProvider) {
          return selectedProvider.text;
        }
        return null;
      });
    },
  },
  watch: {
    formModalOpened(newValue) {
      if (newValue) {
        providerRequest.get().then((res) => {
          this.providerOptions = res.data.providers.map((provider) => ({
            value: provider._id,
            text: provider.name,
          }));
          if (this.formData._id) {
            const clientToEdit = this.list.find(
              (listItem) => listItem._id === this.formData._id
            );
            this.formData.providers = clientToEdit.providers.map(
              (provider) => provider._id
            );
          }
        });
      }
    },
    providerDeleteModalOpened(newValue) {
      if (!newValue) {
        this.providerToDelete = "";
      }
    },
  },
  methods: {
    setList(res) {
      this.list = res.data.clients;
    },
    buildInitialData() {
      return buildInitialData();
    },
    handleCreate(res) {
      this.list.push(res.data.client);
    },
    handleEdit(res) {
      const { client: updatedClient } = res.data;
      const clientToUpdateIndex = this.list.findIndex(
        ({ _id }) => _id === updatedClient._id
      );
      Object.assign(this.list[clientToUpdateIndex], updatedClient);
    },
    handleDelete(res) {
      const deletedClientId = res.data.deletedClientId;
      const clientToDeleteIndex = this.list.findIndex(
        ({ _id }) => _id === deletedClientId
      );
      this.list.splice(clientToDeleteIndex, 1);
    },
    openProviderDeleteModal(providerId) {
      this.providerDeleteModalOpened = providerId ? true : false;
      this.providerToDelete = providerId;
    },
    deleteProvider() {
      providerRequest.delete(this.providerToDelete).then(() => {
        this.list.forEach((client) => {
          const providerIndex = client.providers.findIndex(
            (provider) => provider._id === this.providerToDelete
          );
          client.providers.splice(providerIndex, 1);
        });
        this.providerOptions = this.providerOptions.filter(
          (providerOption) => providerOption.value !== this.providerToDelete
        );
        this.formData.providers = this.formData.providers.filter(
          (selectedProvider) => selectedProvider !== this.providerToDelete
        );
        this.providerDeleteModalOpened = false;
      });
    },
  },
};
</script>
