<template>
  <div class="container">
    <div class="row">
      <div class="mt-5 w-100">
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <h1 class="display-6">Providers</h1>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="row">
              <b-form-select
                class="col-lg-4 col-md-4"
                v-model="selectedSearchField"
                :options="searchOptions"
              ></b-form-select>
              <b-input
                class="col-lg-7 col-md-7 offset-md-1"
                id="search-input"
                v-model="searchTerm"
                type="text"
                placeholder="Search"
              ></b-input>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 mx-auto my-auto text-right">
            <b-button
              variant="success"
              @click="toggleFormModal"
              class="col-lg-6 col-md-6"
            >Add Provider</b-button>
          </div>
        </div>
        <b-modal v-model="formModalOpened">
          <b-form>
            <div class="col-lg-12 col-md-12">
              <label for="name-input">Provider name</label>
              <b-input
                id="name-input"
                v-model="formData.name"
                type="text"
                required
                placeholder="Enter name"
                :state="nameValidation"
              ></b-input>
              <b-form-invalid-feedback :state="nameValidation">Name is required</b-form-invalid-feedback>
            </div>
          </b-form>
          <template v-slot:modal-footer>
            <div class="w-100">
              <b-button variant="primary" size="sm" @click="submit" class="float-right">Submit</b-button>
            </div>
          </template>
        </b-modal>
        <b-modal title="Delete" id="delete-modal" v-model="deleteModalOpened">
          <p>Are you sure want to delete this provider ?</p>
          <template v-slot:modal-footer>
            <div class="w-100">
              <b-button size="sm" @click="deleteRecord" class="mr-1">OK</b-button>
            </div>
          </template>
        </b-modal>
        <b-table striped hover head-variant="dark" :items="list" :fields="fields">
          <template v-slot:cell(actions)="row">
            <b-icon
              role="button"
              @click="openDeleteModal(row.item)"
              icon="x-circle"
              scale="1.5"
              variant="danger"
            ></b-icon>
            <b-icon
              role="button"
              class="ml-4 pointer"
              @click="onEditClick(row.item)"
              icon="pencil"
              scale="1.5"
              variant="primary"
            ></b-icon>
          </template>
        </b-table>
      </div>
    </div>
  </div>
</template>  

<script>
import Request from "../request";
import listMixin from "../mixins/list";
const request = new Request("provider");
const buildInitialData = () => ({
  _id: "",
  name: "",
});
export default {
  name: "Provders",
  mixins: [listMixin],
  data() {
    return {
      request,
      list: [],
      formData: buildInitialData(),
      fields: [
        { key: "name", label: "Name" },
        { key: "_id", label: "ID" },
        { key: "actions", label: "Actions" },
      ],
      searchOptions: [
        {
          text: "Name",
          value: "name",
        },
      ],
    };
  },
  created() {
    if (this.$route.params.id) {
      this.request.get(`?providerId=${this.$route.params.id}`).then((res) => {
        this.formData = res.data.providers[0];
        this.formModalOpened = true;
      });
    }
  },
  computed: {
    nameValidation() {
      return this.formData.name.length > 0;
    },
  },
  methods: {
    setList(res) {
      this.list = res.data.providers;
    },
    buildInitialData() {
      return buildInitialData();
    },
    handleCreate(res) {
      this.list.push(res.data.provider);
    },
    handleEdit(res) {
      const { provider: updatedProvider } = res.data;
      const providerToUpdateIndex = this.list.findIndex(
        ({ _id }) => _id === updatedProvider._id
      );
      Object.assign(this.list[providerToUpdateIndex], updatedProvider);
    },
    handleDelete(res) {
      const deleteddeletedProviderId = res.data.deletedProviderId;
      const providerToDeleteIndex = this.list.findIndex(
        ({ _id }) => _id === deleteddeletedProviderId
      );
      this.list.splice(providerToDeleteIndex, 1);
    },
  },
};
</script>
